@model BaverGame.DTOs.UserDto

@{
    ViewData["Title"] = "Delete particular user";
}

<h1>Delete particular user</h1>

<form asp-action="Delete" method="post">
    <div class="form-group" hidden="hidden" value="@Model.UserId">
        <label asp-for="UserId">Removed user's ID</label>
        <input type="text" asp-for="UserId" class="form-control w-50" required="required"/>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <h2 class="mt-2">Are you sure you want to delete @Model.Username from the base?</h2>
    <button type="submit" class="btn btn-danger mt-2">Delete</button>
</form>
<a asp-action="Index" class="mt-2">Back to List</a>