@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Core.Price>

@{
    ViewData["Title"] = "Prices";
}

<h1>Prices</h1>

<div class="mt-3">
    <div class="flex-row mb-2">
        <button>
            <a class="text-decoration-none" asp-area="" asp-controller="Price" asp-action="Create">Create</a>
        </button>
        @if (!Model.IsNullOrEmpty())
        {
            <button>
                <a class="text-decoration-none" asp-area="" asp-controller="Price" asp-action="Update">Update</a>
            </button>
            <button>
                <a class="text-decoration-none" asp-area="" asp-controller="Price" asp-action="Delete">Delete</a>
            </button>
        }
    </div>
    @if (!Model.IsNullOrEmpty())
    {
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Price's ID</th>
                <th>Game's name</th>
                <th>Price</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var price in Model)
            {
                <tr>
                    <td>@price.PriceId</td>
                    <td>@price.Game.GameId</td> <!--TODO: replace with name-->
                    <td>@price.PriceValue</td>
                    <td>@price.PriceUrl</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No prices were found!</p>
    }
</div>
<a asp-controller="AdminPanel" asp-action="Index" class="mt-2">Back to admin-panel</a>
