@model BaverGame.DTOs.AuthenticationRelated.RegistrationFormDto

@{
    ViewBag.Title = "Sign up";
}

<div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
    <form asp-controller="Account" asp-action="ExecuteRegistration" method="post">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <a class="">
                <h3 class="text-primary">BEAVERGames</h3>
            </a>
            <h3>Sign Up</h3>
        </div>
        @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger my-3" role="alert">
                    <strong>Registration failed:</strong>
                    <ul>
                        @foreach (var error in ViewData.ModelState.Keys.SelectMany(key => ViewData.ModelState[key].Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }
        <div class="form-floating mb-3">
            <input asp-for="InputUsername" type="text" class="form-control" id="floatingText" placeholder="jhondoe" required minlength="3">
            <label asp-for="InputUsername" for="floatingText">Username</label>
            <span asp-validation-for="InputUsername" class="text-danger my-2"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label asp-for="Email" for="floatingInput">Email address</label>
            <span asp-validation-for="Email" class="text-danger my-2"></span>
        </div>
        <div class="form-floating mb-4">
            <input asp-for="InputPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password" required minlength="3">
            <label asp-for="InputPassword" for="floatingPassword">Password</label>
            <span asp-validation-for="InputPassword" class="text-danger my-2"></span>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked="false">
                <label class="form-check-label" for="exampleCheck1">I agree to register at www.beavergames.com</label>
            </div>
        </div>
        <button id="signupButton" type="submit" class="btn btn-primary py-3 w-100 mb-4" disabled>Sign Up</button>
        <p class="text-center mb-0">Already have an Account? <a asp-action="SignIn">Sign In</a></p>
    </form>
</div>

<script>
    document.getElementById('exampleCheck1').addEventListener('change', function () {
        document.getElementById('signupButton').disabled = !this.checked;
    });
</script>