@model BaverGame.Application.DTOs.AuthenticationRelated.LoginFormDto

@{
    ViewBag.Title = "Sign in";
}

<form asp-controller="Account" asp-action="ExecuteLogin" class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <a class="">
            <h3 class="text-primary">BEAVERGames</h3>
        </a>
        <h3>Sign In</h3>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="InputUsername" class="form-control" id="floatingInput" placeholder="Username" required>
        <label asp-for="InputUsername" for="floatingInput">Username</label>
        <span asp-validation-for="InputUsername" class="text-danger my-2"></span>
    </div>
    <div class="form-floating mb-4">
        <input asp-for="InputPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label asp-for="InputPassword" for="floatingPassword">Password</label>
        <span asp-validation-for="InputPassword" class="text-danger my-2"></span>
    </div>
    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
    <p class="text-center mb-0">Don't have an Account? <a asp-action="SignUp">Sign Up</a></p>
</form>