@model BaverGame.DTOs.GameTagDto

@{
    ViewData["Title"] = "Update particular game tag";
}

<div class="mx-4 h-auto my-4 w-100 text-center d-flex flex-column justify-content-center align-items-center">
    <h1>Update particular game tag</h1>

    <form asp-action="Update" method="post">

        <div class="form-group" hidden="hidden">
            <label asp-for="GameTagId">GameTagId</label>
            <input type="text" asp-for="GameTagId" class="form-control w-50" required="required" value="@Model.GameTagId"/>
            <span asp-validation-for="GameTagId" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="TagId">Tag</label>
            <select asp-for="TagId" asp-items="@(ViewData["Tags"] as SelectList)" class="form-select w-100 my-2" required="required">
                <option value="">Select value</option>
            </select>
            <span asp-validation-for="TagId" class="text-danger my-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="GameId">Game</label>
            <select asp-for="GameId" asp-items="@(ViewData["Games"] as SelectList)" class="form-select w-100 my-2" required="required">
                <option value="">Select value</option>
            </select>
            <span asp-validation-for="GameId" class="text-danger my-2"></span>
        </div>

        <button type="submit" class="btn btn-primary my-2">Save</button>
    </form>

    <a asp-action="Index" class="mt-2">Back to List</a>
</div>
