@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Core.Store>

@{
    ViewData["Title"] = "Stores";
}

<div class="mx-4 h-auto my-4 w-100 text-center">
    <h1>Stores</h1>

    <div class="mt-3">
        <div class="flex-row mb-2">
            <button type="button" class="btn btn-dark m-2">
                <a class="text-decoration-none" asp-area="" asp-controller="Store" asp-action="Create">Create</a>
            </button>
        </div>
        @if (!Model.IsNullOrEmpty())
        {
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Store's name</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var store in Model)
                {
                    <tr>
                        <td>@store.StoreName</td>
                        <td>
                            <button type="button" class="btn btn-dark">
                                <a class="text-decoration-none" asp-area="" asp-controller="Store" asp-route-id="@store.StoreId" asp-action="Update">Update</a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark">
                                <a class="text-decoration-none" asp-area="" asp-controller="Store" asp-route-id="@store.StoreId" asp-action="Delete">Delete</a>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No stores were found!</p>
        }
    </div>
    <a asp-controller="AdminPanel" asp-action="Index" class="mt-2">Back to admin-panel</a>
</div>