@model BaverGame.Application.DTOs.DeveloperDto

@{
    ViewData["Title"] = "Delete particular developer";
}

<div class="mx-4 h-auto my-4 w-100 text-center d-flex flex-column justify-content-center align-items-center">
    <h1>Delete particular developer</h1>
    
    <form asp-action="Delete" method="post">
        <div class="form-group my-2" hidden="hidden" value="@Model.DeveloperId">
            <label asp-for="DeveloperId"  class="my-2">Removed developer's ID</label>
            <input type="text" asp-for="DeveloperId" class="form-control w-100 my-2" required="required"/>
            <span asp-validation-for="DeveloperId" class="text-danger my-2"></span>
        </div>
        <h2 class="mt-2">Are you sure you want to delete @Model.DeveloperName from the base?</h2>
        <button type="submit" class="btn btn-danger my-2">Delete</button>
    </form>
    <a asp-action="Index" class="mt-2">Back to List</a>
</div>