@model BaverGame.DTOs.ScreenshotDto

@{
    ViewBag.Title = "Create new screenshot";
}

<h1>Create a new screenshot</h1>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="GameId">Game</label>
        <select asp-for="GameId" asp-items="@(ViewData["Games"] as SelectList)" class="form-control w-50" required="required">
            <option value="">Select value</option>
        </select>
        <span asp-validation-for="GameId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Image url</label>
        <input asp-for="ImageUrl" class="form-control w-50" required="required"/>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>
<a asp-action="Index" class="mt-2">Back to List</a>