@model BaverGame.DTOs.ScreenshotDto

@{
    ViewData["Title"] = "Delete particular screenshot";
}

<h1>Delete particular screenshot</h1>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="ScreenshotId">Removed screenshot's ID</label>
        <input type="text" asp-for="ScreenshotId" class="form-control w-50" required="required"/>
        <span asp-validation-for="ScreenshotId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger mt-2">Delete</button>
</form>
<a asp-action="Index" class="mt-2">Back to List</a>