@model BaverGame.DTOs.ScreenshotDto

@{
    ViewData["Title"] = "Update particular user screenshot";
}

<h1>Update particular user screenshot</h1>

<form asp-action="Update" method="post">
    <div class="form-group" hidden="hidden">
        <label asp-for="ScreenshotId">Screenshot's ID</label>
        <input asp-for="ScreenshotId" class="form-control w-50" required="required"/>
        <span asp-validation-for="ScreenshotId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GameId">Game</label>
        <select asp-for="GameId" asp-items="@(ViewData["Games"] as SelectList)" class="form-control w-50" required="required">
            <option value="">Select value</option>
        </select>
        <span asp-validation-for="GameId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Image url</label>
        <input asp-for="ImageUrl" class="form-control w-50" required="required"/>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>

<a asp-action="Index" class="mt-2">Back to List</a>