@model BaverGame.DTOs.UserRoleDto

@{
    ViewBag.Title = "Create new user role";
    Layout = "_Layout";
}

<h1>Create a new user role</h1>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="RoleName">Role's name</label>
        <input asp-for="RoleName" class="form-control w-50" required="required" minlength="3"/>
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>
<a asp-action="Index" class="mt-2">Back to List</a>