@model BaverGame.DTOs.UserRoleDto

@{
    ViewData["Title"] = "Delete particular user role";
}

<h1>Delete particular user role</h1>

<form asp-action="Delete" method="post">
    <div class="form-group" hidden="hidden" value="@Model.RoleId">
        <label asp-for="RoleId">Removed role's ID</label>
        <input type="text" asp-for="RoleId" class="form-control w-50" required="required"/>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <h2 class="mt-2">Are you sure you want to delete @Model.RoleName from the base?</h2>
    <button type="submit" class="btn btn-danger mt-2">Delete</button>
</form>
<a asp-action="Index" class="mt-2">Back to List</a>