@model dynamic

@{
    ViewBag.Title = "Admin-panel";
    Layout = "_Layout";
}

<h1>Admin panel</h1>

<h3 class="mt-3">Sections:</h3>

<ul class="mt-3 flex-column">
    <li>
        <a class="text-dark" asp-area="" asp-controller="Developer" asp-action="Index">"Developer" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="Publisher" asp-action="Index">"Publisher" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="Tag" asp-action="Index">"Tag" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="UserRole" asp-action="Index">"User role" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="User" asp-action="Index">"User" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="Store" asp-action="Index">"Store" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="Screenshot" asp-action="Index">"Screenshot" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="Price" asp-action="Index">"Price" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="GameTag" asp-action="Index">"Game tag" section</a>
    </li>
    <li>
        <a class="text-dark" asp-area="" asp-controller="Game" asp-action="Index">"Game" section</a>
    </li>
</ul>