@page "/"

<PageTitle>Beaver Games Dashboard</PageTitle>

<div class="container mt-5 text-center">
    <h1 class="display-4">Welcome to Beaver Games Dashboard!</h1>
    
    <p class="mt-4 lead">
        This is an example Blazor CRUD application for managing Beaver Games. Here, you can add, edit, 
        and delete information about Developers, Publishers, and Game Tags. This application demonstrates 
        the capabilities of Blazor for building interactive web applications using C# and .NET.
    </p>

    <p class="mt-3">
        Feel free to navigate through the application and explore its functionalities. Your feedback is 
        always valuable to us.
    </p>
</div>
