@model BaverGame.Application.DTOs.ScreenshotDto

@{
    ViewData["Title"] = "Delete particular screenshot";
}

<div class="mx-4 h-auto my-4 w-100 text-center d-flex flex-column justify-content-center align-items-center">
    <h1>Delete particular screenshot</h1>

    <form asp-action="Delete" method="post">
        <div class="form-group my-2" hidden="hidden" value="@Model.ScreenshotId">
            <label asp-for="ScreenshotId" class="my-2">Removed screenshot's ID</label>
            <input type="text" asp-for="ScreenshotId" class="form-control w-100 my-2" required="required"/>
            <span asp-validation-for="ScreenshotId" class="text-danger my-2"></span>
        </div>
        <h2 class="mt-2">Are you sure you want to delete screenshot with URL @Model.ImageUrl from the base?</h2>
        <button type="submit" class="btn btn-danger my-2">Delete</button>
    </form>
    <a asp-action="Index" class="mt-2">Back to List</a>
</div>
