@model BaverGame.Application.DTOs.UserGameOwnershipDto

@{
    ViewData["Title"] = "Delete particular ownership";
}

<div class="mx-4 h-auto my-4 w-100 text-center d-flex flex-column justify-content-center align-items-center">
    <h1>Delete particular ownership</h1>

    <form asp-action="Delete" method="post">
        <div class="form-group my-2" hidden="hidden" value="@Model.GameOwnershipId">
            <label asp-for="GameOwnershipId">Removed ownership's ID</label>
            <input type="text" asp-for="GameOwnershipId" class="form-control w-100 my-2" required="required"/>
            <span asp-validation-for="GameOwnershipId" class="text-danger my-2"></span>
        </div>

        <h2 class="mt-2">Are you sure you want to delete ownership of game '@Model.GameName' for user '@Model.UserName' from the base?</h2>

        <button type="submit" class="btn btn-danger my-2">Delete</button>
    </form>

    <a asp-action="Index" class="mt-2">Back to List</a>
</div>