@model BaverGame.DTOs.GameDto

@{
    ViewData["Title"] = "Update particular game";
}

<h1>Update particular game</h1>

<form asp-action="Update" method="post">

    <div class="form-group">
        <label asp-for="GameId">Game's ID</label>
        <input asp-for="GameId" class="form-control w-50" required="required"/>
        <span asp-validation-for="GameId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeveloperId">Developer's ID</label>
        <input asp-for="DeveloperId" class="form-control w-50" required="required"/>
        <span asp-validation-for="DeveloperId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublisherId">Publisher's ID</label>
        <input asp-for="PublisherId" class="form-control w-50" required="required"/>
        <span asp-validation-for="PublisherId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Game's name</label>
        <input asp-for="Name" class="form-control w-50" required="required" minlength="3"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Game's description</label>
        <input asp-for="Description" class="form-control w-50" required="required" minlength="3"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SystemRequirements">Game's system requirements</label>
        <input asp-for="SystemRequirements" class="form-control w-50" required="required" minlength="3"/>
        <span asp-validation-for="SystemRequirements" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>

<a asp-action="Index" class="mt-2">Back to List</a>