@model BaverGame.DTOs.GameDto

@{
    ViewData["Title"] = "Update particular game";
}

<div class="mx-4 h-auto my-4 w-100 text-center d-flex flex-column justify-content-center align-items-center">
    <h1>Update particular game</h1>

    <form asp-action="Update" method="post">

        <div class="form-group" hidden="hidden">
            <label asp-for="GameId">Game's ID</label>
            <input asp-for="GameId" class="form-control w-100 my-2" required="required" value="@Model.GameId"/>
            <span asp-validation-for="GameId" class="text-danger my-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name">Game's name</label>
            <input asp-for="Name" class="form-control w-100 my-2" required="required" minlength="3"/>
            <span asp-validation-for="Name" class="text-danger my-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Game's description</label>
            <input asp-for="Description" class="form-control w-100 my-2" required="required" minlength="3"/>
            <span asp-validation-for="Description" class="text-danger my-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="SystemRequirements">Game's system requirements</label>
            <input asp-for="SystemRequirements" class="form-control w-100 my-2" required="required" minlength="3"/>
            <span asp-validation-for="SystemRequirements" class="text-danger my-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="DeveloperId">Developer</label>
            <select asp-for="DeveloperId" asp-items="@(ViewData["Developers"] as SelectList)" class="form-select w-100 my-2" required="required">
                <option value="">Select value</option>
            </select>
            <span asp-validation-for="DeveloperId" class="text-danger my-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="PublisherId">Publisher</label>
            <select asp-for="PublisherId" asp-items="@(ViewData["Publishers"] as SelectList)" class="form-select w-100 my-2" required="required">
                <option value="">Select value</option>
            </select>
            <span asp-validation-for="PublisherId" class="text-danger my-2"></span>
        </div>

        <button type="submit" class="btn btn-primary my-2">Save</button>
    </form>

    <a asp-action="Index" class="mt-2">Back to List</a>
</div>
