@model BaverGame.DTOs.DeveloperDto

@{
    ViewData["Title"] = "Delete particular developer";
}

<h1>Delete particular developer</h1>

<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="DeveloperId">Removed developer's ID</label>
        <input type="text" asp-for="DeveloperId" class="form-control w-50" />
    </div>
    <button type="submit" class="btn btn-danger mt-2">Delete</button>
</form>
<a asp-action="Index" class="mt-2">Back to List</a>