@model BaverGame.DTOs.DeveloperDto

@{
    ViewData["Title"] = "Update particular developer";
}

<h1>Update particular developer</h1>

<form asp-action="Update" method="post">

    <div class="form-group">
        <label asp-for="DeveloperId">Developer's ID</label>
        <input type="text" asp-for="DeveloperId" class="form-control w-50" required="required"/>
        <span asp-validation-for="DeveloperId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DeveloperName">Developer's name</label>
        <input asp-for="DeveloperName" class="form-control w-50" required="required" minlength="3"/>
        <span asp-validation-for="DeveloperName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>

<a asp-action="Index" class="mt-2">Back to List</a>